@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@import url('https://fonts.cdnfonts.com/css/cascadia-code');

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

:root {
  --bgc-color: #085b7f;
  /* --bgc-color: #030c10; */
  --primary-text: white;
  --shadow-box: rgba(0, 0, 0, 0.4);
  --link-color: #fff;
}

.dark-theme {
  --bgc-color: rgb(178, 209, 179);
  /* --bgc-color: rgb(246, 250, 250); */
  --primary-text: #444;
  --shadow-box: rgba(0, 0, 0, 0.4);
  --heading-font-color: rgba(12, 105, 219, 0.4);
  --link-color: #1c1212f2;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  cursor: pointer;
}

#icon {
  width: 30px;
  height: 30px;
  /* color: var(--primary-text); */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: hidden;
  padding: 60px 0;
}

body {
  font-size: 16px;
  background-color: var(--bgc-color);
  color: var(--primary-text);
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: 'Cascadia Code', sans-serif; */

  scroll-behavior: smooth;
  line-height: 2;
}

p {
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

nav ul {
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: hidden;
}
/* main {
  width: 100%;
} */

figure {
  /* width: 300px; */
}

.box-details {
  box-shadow: 0px 20px 30px 0px var(--shadow-box);
  padding: 20px;
  border-radius: 24px;
  margin-top: -20px;
  /* width: 100%; */
}

img {
  max-width: 100%;
  height: auto;
  border-top: 24px;
}

.link-article {
  border-top: 24px;
  overflow: hidden;
  border-top: 30px;
  overflow: hidden;
  margin: 40px 0;
  padding: 40px 0;
}

.heading-font {
  /* font-family: ; */
  font-size: 12px;
  color: var(--primary-text);
  background-color: var(--shadow-box);
  display: flex;
  padding: 5px 7px 5px 7px;
  width: fit-content;
  border-radius: 5px;
  font-weight: bold;
}

.box-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* BLOG*********** */

.nav-inner-link {
  font-weight: bolder;
  font-size: 1rem;
  color: var(--link-color);
}

.main-dark-nft {
  font-size: 1rem;
}

.container-destop {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  overflow-x: auto;
}

.img {
  /* border-radius: 24px; */
}

.topic {
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  margin: 40px 0;
}

.section {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  flex-direction: column;
  /* padding: 30px 0; */
}

.general-link {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}

.general-link a {
  padding: 5px 0px;
}

.foooter-div-container {
  padding: 20px 20px;
}

footer {
  background-color: var(--shadow-box);
  padding: 20px 0;
}

.link-author {
  font-weight: bolder;
  /* font-size: 1.3rem; */
  color: #fff;
}

.footer-remark {
  display: inline-block;
  font-size: 1.1rem;
  word-spacing: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-color-footer {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  overflow-x: hidden;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

.standard-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--shadow-box);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.standard-button:hover {
  background-color: #45a049;
}

.standard-button:active {
  background-color: #3e8e41;
}

.downloadable-link,
.official-twitter {
  text-decoration: underline;
}

.date {
  display: flex;
  justify-content: right;
  /* align-items: end; */
}

.list-pdf-scam {
  font-family: 'Roboto Mono', monospace;
}

.footer {
  width: 100%;
  margin: 0;
}

.link-external-article {
  color: hotpink;
  display: block; /* Ensures the link takes up the entire width available */
  /* text-align: center; Centers the link's text horizontally */
  /* padding: 10px 50px; Adjust padding as needed */
  /* background-color: #007bff; */
  display: block;
  font-weight: bold;

  /* width: 100px; */
  /* font-size: 10px; */
}

ul {
  /* padding: 0;
  margin: 0; */
  font-family: 'Roboto Mono', monospace;
}

ol {
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}

li {
  /* list-style-type: disc; */
  /* padding: 30px 0; */
}

/* overlay */

/* .flex-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
} */

/* UTILITY*********** */

.md {
  font-size: 1.5rem;
}

.my-1 {
  margin: 10px 0;
}

.my-2 {
  margin: 15px 0;
}

.my-3 {
  margin: 20px 0;
}

.my-4 {
  margin: 25px 0;
}

.my-3 {
  margin: 30px 0;
}

.my-4 {
  margin: 70px 0;
}

.mx-1 {
  margin: 0 10px;
}

.mx-2 {
  margin: 0 15px;
}

.mx-2 {
  margin: 0 25px;
}

.py-1 {
  padding: 5px 0;
}

.py-2 {
  padding: 10px 0;
}

.py-3 {
  padding: 15px 0;
}

.py-4 {
  padding: 20px 0;
}

.py-5 {
  padding: 50px 0;
}

.px-1 {
  padding: 0 5px;
}

.px-2 {
  padding: 0 15px;
}

.px-3 {
  padding: 0 25px;
}

.md {
  font-size: 1rem;
}

.xl {
  font-size: 1.1rem;
}

/* DARK-NFT */

@media screen and (min-width: 800px) {
  .box-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .container-destop {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1037px) {
  .box-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }

  .section {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 150px;
    padding: 50px 60px;
    width: 80%;
  }

  .main-dark-nft {
    font-size: 1rem;
  }

  .container-destop {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    overflow-x: hidden;
    /* position: relative;
    display: inline-block; */
  }

  .bg-color-footer {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
  }

  /* .img-box {
    width: 300px;
    height: 300px;
  } */
}
